html 
    head 
        title Account Activation 
    body 
        p Welcome and thank you for registering. Please activate your account by following the link below (or copy and paste it in your browser):
        p= link