doctype
html 
    head 
        title Password Recovery 
    body 
        p To create a new password for your account, please follow the link below or copy and paste it in your browser:
        p= link
        p The link will be valid for 24 hours only.